body{
    background-color: #313D52;
}
.navegacion{
    width: 1000px;
    margin: 30px auto;
    background-color: #fff;
}

.menu > li{
    position: relative;
    display: inline-block;
}
.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #353535;
    text-decoration: none;
}
.menu li a:hover{
    color: #ce7d35;
}
.texto1{
    padding: 0;
    color: #fff;
}
.imagen1{
    text-align: center;
}
